{% include "layouts/header.html" %}
{% include "layouts/user_navbar.html" %}
<body>
<div class="container user_dash">
	<div class="span3">
		<input id="my_username" type="hidden" value="{{ session['username'] }}" />
		<div id="dashboard_info"></div>
	</div>
		<div class="well span8" style="background-color: #fff;"><h4 style="margin-top: -5px;">My Jokes</h4><center><img id="loader" style="position: absolute;" src="./static/img/loader.gif"/></center>
		<div class="btn-group pull-right" style="margin-top: -36px;">
  <button class="btn" title="Home" href="./"><i class="icon-home"></i></a></button>
  <button class="btn" title="Crack a joke!" href="./crack"><i class="icon-bullhorn"></i></button>
</div>
		<hr style="margin-top: 0px;">
		<table class="table table-hover" id="crackers_div" style="margin-top: -10px;"></table>
		<div id="complete_joke"></div>
		</div>
		<!-- Delete joke modal -->
		<div class="modal hide fade" id='deleteModal'>
  <div class="modal-body">
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <p>Do you really wish to delete this joke?</p>
  </div>
  <div class="modal-footer">
    <a href="#" class="btn btn-danger" id='del_joke' data-joke=''>Delete</a>
  </div>
</div>
		<!-- End Delete joke modal -->
</div>
{% include "layouts/footer.html" %}
<script src="./static/js/timeago.js"></script>
<script>
	$.post("/my_info", function(data){
		var obj=$.parseJSON(data);
		$("body").css("background-color",obj.bg_color);
		var username, follower, following;
		if(obj.follower)
			follower=obj.follower.length;
		else
			follower=0
		if(obj.following)
			following=obj.following.length;
		else
			following=0;
		$("#dashboard_info").html("<center><img style='width: 180px; height: 180px;'src='http://gravatar.com/avatar/"+obj.email_hash+"?size=180' alt='"+obj.name+"' class='thumbnail'></img><hr><h5><a href='/profile'>"+obj.name+"</a> (<a href='/"+obj.username+"'>@"+obj.username+"</a>)</h5><p><a href='/subscribers'>Subscribers: "+follower+"</a></p><p><a href='/subscriptions'>Subscriptions: "+following+"</a></p><p><a href='./jokes'>Jokes: "+obj.jokes+"</a></p></center>").show();
	});
	
	$.post("/get_jokes", function(data){
		var obj=$.parseJSON(data);
		$("#crackers_div").html("");
		for(var i in obj){
			if(obj[i].values.tags){
				var tags="";
				for(var j in obj[i].values.tags){
					tags=tags+"<a href='#'>"+obj[i].values.tags[j]+"</a>, ";
				}
			}
			$("#crackers_div").append("<tr id='joke_row_"+obj[i]._id+"'><td class='joke_row' data-id='"+obj[i]._id+"' style='border-top: none; border-bottom: 1px solid #eee;'><a href='#' class='joke_title' id='"+obj[i]._id+"'>"+obj[i].values.title+"</a><span class='pull-right'><span id='joke_"+obj[i]._id+"' style='display: none;'><a href='#' title='Edit' class='joke_edit'><i class='icon-wrench'></i></a> &nbsp; <a href='#' class='joke_delete' title='Delete' ><i class='icon-remove'></i></a></span>&nbsp; <span id='timeago' title='"+obj[i].values.date+"' class='date_time_block'></span></span><p class='span6'>"+(obj[i].values.desc).replace(/(<([^>]+)>)/ig," ").substring(0,100)+"...<p class='help-block' style='font-size: 12px;color: #777;'><span>tags: "+tags.substring(0,tags.length-2)+"</span> &brvbar;<span id='timeago' title='"+obj[i].values.date+"' class='date_time_block'></span></p></tr>");
			$(".date_time_block").timeago();
		}
		$("img#loader").hide();
		$("#crackers_div").append("<tr></tr>").hide().fadeIn(500);
		
	});
</script>
</body>
</html>
