{% include "layouts/header.html" %}
{% include "layouts/user_navbar.html" %}
<body>
<div class="container">
	<div class="span3">
		<input id="my_username" type="hidden" value="{{ session['username'] }}" />
		<div id="dashboard_info"></div>
	</div>
		<div class="well span8" style="background-color: #fff;padding-bottom: 0px;"><h4 style="margin-top: -5px;padding-bottom: 10px;">My Jokes</h4><a class="pull-right" href="/crack" style="margin-top: -39px;">Crack a joke &raquo;</a><center><img id="loader" src="./static/img/loader.gif" /></center><table class="table table-hover" id="jokes_div" style="margin-top: -10px;"></div></div>
</div>
{% include "layouts/footer.html" %}
<script src="./static/js/timeago.js"></script>
<script>
	$.post("/my_info", function(data){
		var obj=$.parseJSON(data);
		var username, follower, following;
		if(obj.follower)
			follower=obj.follower.length;
		else
			follower=0
		if(obj.following)
			following=obj.following.length;
		else
			following=0;
		$("#dashboard_info").html("<center><img style='width: 180px; height: 180px;'src='http://gravatar.com/avatar/"+obj.email_hash+"?size=180' alt='"+obj.name+"' class='thumbnail'></img><hr><h5><a href='/profile'>"+obj.name+"</a> (<a href='/"+obj.username+"'>@"+obj.username+"</a>)</h5><p><a href='/subscribers'>Subscribers: "+follower+"</a></p><p><a href='/subscriptions'>Subscriptions: "+following+"</a></p><p><a href='#'>Jokes: "+obj.jokes+"</a></p></center>").show();
	});
	
	$.post("/get_jokes", function(data){
		var obj=$.parseJSON(data);
		$("#jokes_div").html("");
		for(var i in obj){
			if(obj[i].tags){
				var tags="";
				for(var j in obj[i].tags){
					tags=tags+"<a href='#'>"+obj[i].tags[j]+"</a>, ";
				}
			}
			$("#jokes_div").append("<tr><td><a href='#'><h5>"+obj[i].title+"</h5></a>"+(obj[i].desc).substring(0,100)+"...<p class='help-block' style='font-size: 12px;color: #777;'><span>tags: "+tags.substring(0,tags.length-2)+"</span> &brvbar; <span id='timeago' title='"+obj[i].date+"' class='date_time_block'></span></p></tr>");
			$(".date_time_block").timeago();
		}
		$("img#loader").hide();
		$("#jokes_div").append("<tr></tr>").hide().fadeIn(500);
	});
</script>
</body>
</html>
