{% include "layouts/header.html" %}
{% include "layouts/user_navbar.html" %}
<body>
<div class="container">
	<div class="span3">
		<input id="my_username" type="hidden" value="{{ session['username'] }}" />
		<div id="dashboard_info"></div>
	</div>
		<div class="well span8" style="background-color: #fff;"><h4 style="margin-top: -5px;">Subscribers</h4><hr style="margin-top: 0px;"><center><img id="loader" src="./static/img/loader.gif" /></center><div id="subscribers_div" style="margin-top: -10px;"></div></div>
</div>
{% include "layouts/footer.html" %}
<script>
	$.post("/my_info", function(data){
		var obj=$.parseJSON(data);
		var username, follower, following;
		if(obj.follower)
			follower=obj.follower.length;
		else
			follower=0
		if(obj.following)
			following=obj.following.length;
		else
			following=0;
		$("#dashboard_info").html("<center><img style='width: 180px; height: 180px;'src='http://gravatar.com/avatar/"+obj.email_hash+"?size=180' alt='"+obj.name+"' class='thumbnail'></img><hr><h5><a href='/profile'>"+obj.name+"</a> (<a href='/"+obj.username+"'>@"+obj.username+"</a>)</h5><p><a href='/subscribers'>Subscribers: "+follower+"</a></p><p><a href='/subscriptions'>Subscriptions: "+following+"</a></p></center>").show();
	});
	
	$.post("/get_subscribers", function(data){
		var obj=$.parseJSON(data);
		$("#subscribers_div").html('');
		if(obj.follower){
			for(var i in obj.follower){
			$("#subscribers_div").append("<p><a href='/"+obj.follower[i].user+"'><img style='width: 50px;height: 50px;display: inline-block;' src='"+obj.follower[i].avatar+"' class='thumbnail' style='display: inline-block;'></img></a>&nbsp;&nbsp;<a href='/"+obj.follower[i].user+"' style='margin-top: 8px;position: absolute'>"+obj.follower[i].name+"</a><a href='#' id='block_btn' class='pull-right' data-user=' style='margin-top: 50px;'"+obj.follower[i].user+"'><button style='margin-top: 10px;' class='btn btn-danger btn-small' data-value='block'>Block</button></a><br><span class='pull-right' style='padding-right: 125px;width: 430px;padding-left: 70px;margin-top: -30px;color: #666; font-style: italic;'>"+obj.follower[i].bio+"</span><div style='border-bottom: 1px solid #ececec;padding: 10px;'></div></p>");
		}
		$("img#loader").hide();
		$("#subscribers_div").hide().fadeIn(500);
		}
	});
</script>
</body>
</html>
