{% include "layouts/header.html" %}
{% include "layouts/user_navbar.html" %}
<body>
<div class="container">
	<div class="span3">
		<input id="my_username" type="hidden" value="{{ session['username'] }}" />
		<div id="dashboard_info"></div>
	</div>
		<div class="well span8" style="background-color: #fff;"><h4 style="margin-top: -5px;">New Joke!</h4>
		<div class="btn-group pull-right" style="margin-top: -36px;">
  <button class="btn" title="Home" href="./"><i class="icon-home"></i></a></button>
  <button class="btn" title="Crack a joke!" href="./crack"><i class="icon-bullhorn"></i></button>
</div><hr>
		<div id="js-messages"></div>
 	<center><input type="text" class="span7" placeholder="Joke Title" id="joke_title" tabindex="1"/></center>
<div class=" span7" style="background-color: #fff;padding-top: 0px;">
	<div class="btn-toolbar" style="margin-top: 0px;">
	<center>
  <div class="btn-group">
    <a class="btn" href="#" title="Bold" id="bold_icon_link"><i class="icon-bold"></i></a>
    <a class="btn" href="#" title="Italic" id="italic_icon_link"><i class="icon-italic"></i></a>
    <a class="btn" href="#" title="Underline" id="underline_icon_link"><i class="icon-magnet"></i></a>
    <a class="btn" href="#" title="Link" id="resize_icon_link"><i class="icon-resize-small"></i></a>
    <a class="btn" href="#" title="Big Text" id="bigtext_icon_link"><i class="icon-text-height"></i></a>
  </div>
</div>
 </center>
	<section class="span6 well" id="joke_textarea" contenteditable="true" tabindex="2"></section>
</div>
<center><input type="text" class="span7" placeholder="Add tags seperated by a comma" id="joke_tags" tabindex="3"/></center>
<span class="pull-right"><a href="#" id="joke_submit"><button class="btn btn-success">Crack Joke  &raquo;</button></a>&nbsp;<img id="loader" src="./static/img/loader.gif" style="display: none" /></span>
</div>
{% include "layouts/footer.html" %}
<script>
	$.post("/my_info", function(data){
		var obj=$.parseJSON(data);
		var username, follower, following;
		if(obj.follower)
			follower=obj.follower.length;
		else
			follower=0
		if(obj.following)
			following=obj.following.length;
		else
			following=0;
		$("#dashboard_info").html("<center><img style='width: 180px; height: 180px;'src='http://gravatar.com/avatar/"+obj.email_hash+"?size=180' alt='"+obj.name+"' class='thumbnail'></img><hr><h5><a href='/profile'>"+obj.name+"</a> (<a href='/"+obj.username+"'>@"+obj.username+"</a>)</h5><p><a href='/subscribers'>Subscribers: "+follower+"</a></p><p><a href='/subscriptions'>Subscriptions: "+following+"</a></p><p><a href='./jokes'>Jokes: "+obj.jokes+"</a></p></center>").show();
	});
</script>
</body>
</html>
