{% include "layouts/header.html" %}
{% include "layouts/user_navbar.html" %}
<body>
<div class="container" style="padding-top: 10px;">
	<center>{% include "layouts/messages.html" %}</center>
	<form class="form" id="profile_update_form">
	<legend>Public Profile</legend>
	<div class="control-group" style="float: right; position: relative;margin-right: 20px;">
    <img class="thumbnail" src="http://gravatar.com/avatar/{{ session.email_hash }}/?s=160" />
    <p><center><a href="http://gravatar.com" target="_BLANK">Change Avatar</a></center></p>
  </div>
	<div class="control-group">
    <label class="control-label" for="inputEmail">Name</label>
    <div class="controls">
      <input type="text" id="inputName" value="{{ get_userinfo('name') }}">
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="inputEmail">Email</label>
    <div class="controls">
      <input type="text" id="inputEmail" value="{{ get_userinfo('email') }}">
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="inputBio">Bio</label>
    <div class="controls">
      <textarea class="span4" rows="6" maxlength="140" id="inputBio" placeholder="Maximum of 140 characters">{{ get_userinfo(bio) }}</textarea>
    </div>
  </div>
 	<div class="control-group">
    <label class="control-label" for="inputWebsiteURL">Website URL</label>
    <div class="controls">
      <input type="text" id="inputWebsiteURL" value="{{ get_userinfo('website') }}">
    </div>
 	</div>
 	 <div class="control-group">
    <label class="control-label" for="inputLocation">Location</label>
    <div class="controls">
      <input type="text" id="inputLocation" value="{{ get_userinfo('location') }}">
    </div>
 	 </div>
    <div class="controls">
      <button type="submit" class="btn btn-success">Update &raquo;</button>
    </div>
  </div>
</form>
</div>
{% include "layouts/footer.html" %}
</body>
</html>
