{% include "layouts/header.html" %}
{% if session['loggedin']==True %}
	{% include "layouts/user_navbar.html" %}
{% else %}
	{% include "layouts/navbar.html"%}
{% endif %}
<body>
<div class="container">
	{% if info %}
		<input type="hidden" id="my_username" value="{{ info.username }}">
		<div class="span11">
			<div class="span3">
				<img src="http://gravatar.com/avatar/{{ info.email_hash }}?s=180" class="thumbnail"/>
			</div>
			<div class="span6" style="margin-left: -10px;">
				<h3>{{ info.name }}</h4>
				<p>{{ info.bio }}</p>
					<p>
						{% if info.url %}
							<small><a href="{{ info.url }}" target="_BLANK">{{ info.url }}</a></small>
						{% endif %}
						{% if info.location %}
							<small> | {{ info.location }}</small>
						
						{% endif %}
					</p>
			</div>
			<div class="span1" style="float: right;">
				{% if info.username != session['username'] %}
					<div id="sub_unsub_div"><img src="./static/img/loader.gif" /></div>
					
				{% endif %}
			</div>
		</div>
	{% endif %}
	<br>
	<hr class="span11">
</div>
{% include "layouts/footer.html" %}
<script>
		$.post("/get_followers", function(data){
			var obj=$.parseJSON(data);
			if(obj.status=="error"){
				
			}
			else{
				for(var i=0;i<obj.following.length;i++){
					if($("#my_username").val() == obj.following[i]){
						$("#sub_unsub_div").html('<a href="#" id="sub_unsub_btn" data-user="'+$("#my_username").val()+'"><button class="btn btn-danger" data-value="unsubscribe">Unsubscribe</button></a>').hide().fadeIn(500);
						return;
					}
				}
				$("#sub_unsub_div").html('<a href="#" id="sub_unsub_btn" data-user="'+$("#my_username").val()+'"><button class="btn btn-success" data-value="subscribe">Subscribe</button></a>').hide().fadeIn(500);
			}
		});		
</script>
</body>
</html>
