{% include "layouts/header.html" %}
{% if session['loggedin']==True %}
	{% include "layouts/user_navbar.html" %}
{% else %}
	{% include "layouts/navbar.html"%}
{% endif %}
<body>
<div class="container user_dash">
	{% if info %}
		{% if session['loggedin'] == True %}
		<input type="hidden" id="cur_username" value="{{ session['username'] }}">
		<input type="hidden" id="my_username" value="{{ info.username }}">
		<input type="hidden" id="my_bio" value="{{ info.bio }}">
		<input type="hidden" id="my_name" value="{{ info.name }}">
		<input type="hidden" id="my_avatar" value="http://gravatar.com/avatar/{{ info.email_hash }}/?s=50">
		<input type="hidden" id="ref_name" value="{{ get_userinfo('name') }}">
		<input type="hidden" id="ref_bio" value="{{ get_userinfo('bio') }}">
		<input type="hidden" id="ref_avatar" value="http://gravatar.com/avatar/{{ get_userinfo('email_hash') }}/?s=50">
		{% endif %}
			<div class="span3">
				<div id="dashboard_info"></div>
			</div>
				<div class="well span8" style="background-color: #fff;min-height: 133px;"><h4 style="margin-top: -5px;" id="about_title"></h4>
		{% if session['loggedin'] == True %}
			<div class="btn-group pull-right" style="margin-top: -36px;">
				<button class="btn" title="Home" href="./"><i class="icon-home"></i></a></button>
				<button class="btn" title="Crack a joke!" href="./crack"><i class="icon-bullhorn"></i></button>
			</div>
		{% endif %}
		<hr style="margin-top: 0px;">
		<div id="about_info"></div>
</div>
	<div class="well span8" style="background-color: #fff;min-height: 133px;">
		<h4 style="margin-top: -5px;padding-bottom: 5px;" id="about_title">Jokes</h4><center><img id="loader" style="position: absolute;" src="./static/img/loader.gif"/></center>
		<hr style="margin-top: 0px;">
		<table class="table table-hover" id="crackers_div" style="margin-top: -10px;"></table>
		<div id="complete_joke"></div></div>
	</div>
			</div>
	{% endif %}
</div>
{% include "layouts/footer.html" %}
<script src="/static/js/timeago.js"></script>
<script>
		
		$.post("/public_info",{username: document.URL.split("/")[3].replace(/#/,"")},
		function(data){
			var obj=$.parseJSON(data);
			if(obj.bg_color)
				$("body").css("background-color",obj.bg_color);
			else
				$("body").css('background-color', '#282a2e');
			var username, follower, following, location="", url="",bio="";
		if(obj.follower)
			follower=obj.follower.length;
		else
			follower=0
		if(obj.following)
			following=obj.following.length;
		else
			following=0;
			$("#dashboard_info").html("<center><img style='width: 180px; height: 180px;' src='"+obj.avatar+"?size=180' alt='"+obj.name+"' class='thumbnail'></img><br>{% if info.username != session['username'] %}<div id='sub_unsub_div' ></div>{% endif %}<hr><h5>"+obj.name+" (<a href='/"+obj.username+"'>@"+obj.username+"</a>)</h5><p><a href='/"+obj.username+"/subscribers'>Subscribers: "+follower+"</a></p><p><a href='/"+obj.username+"/subscriptions'>Subscriptions: "+following+"</a></p><p><a href='/jokes'>Jokes: "+obj.jokes+"</a></p></center>").show();
			$("#about_title").html(obj.name).show();
			if(obj.url)
				url=obj.url;
			if(obj.bio)
				bio=obj.bio;
			if(obj.location)
				location=obj.location;
			$("#about_info").html("<p><i style='color: #777;'>"+bio+"</i></p><p><small><a href='"+url+"' target='_BLANK'>"+url+"</a><span class='date_time_block'> &brvbar; "+location+"</span></small></p>");
			$.post("/public_jokes", {username: obj.username},
		function(data2){
			var obj2=$.parseJSON(data2);
			$("#crackers_div").html("");
		for(var i in obj2){
			var tags="";
			var href_attr;
			for(var j in obj2[i].values.tags){
				if(j==0){
					href_attr=obj2[i].values.tags[j].replace(/ /g,"+");
				}
				else{
					href_attr=obj2[i].values.tags[j].replace(/ /g,"+");
					href_attr=href_attr.substring(1,href_attr.length)
				}
				tags=tags+"<a href='./tags/"+href_attr+"'>"+obj2[i].values.tags[j]+"</a>, ";
			}
			$("#crackers_div").append("<tr><td style='border-top: none; border-bottom: 1px solid #eee;'><a href='/"+obj2[i].values.username+"'><img style='width: 50px;height: 50px;display: inline-block;' src='"+obj2[i].values.avatar+"' class='thumbnail' style='display: inline-block;'></img></a>&nbsp;&nbsp;<a href='#' class='joke_title' id='"+obj2[i]._id+"' style='margin-top: 2px;position: absolute'>"+obj2[i].values.title+"</a><span class='pull-right'><span id='timeago' title='"+obj2[i].values.date+"' class='date_time_block'></span></span><br><span class='pull-right' style='padding-right: 125px;width: 430px;padding-left: 70px;margin-top: -30px;color: #666; font-style: italic;'>"+obj2[i].values.desc.replace(/(<([^>]+)>)/ig," ").substring(0,100)+"...</span><div class='help-block' style='font-size: 12px;color: #777;margin-left: 70px;'><span>tags: "+tags.substring(0,tags.length-2)+"</span></div></p></tr>")
			$(".date_time_block").timeago();
		}
		$("img#loader").hide();
		$("#crackers_div").append("<tr></tr>").hide().fadeIn(500);
		});
		});		
		
		$.post("/get_subscribers", {user: $("#my_username").val()}, function(data){
			var obj=$.parseJSON(data);
			console.log(obj)
			var flag=0;
			if(obj.status=="error"){
				$("#sub_unsub_div").html('<a href="#" id="sub_unsub_btn" data-user="'+$("#my_username").val()+'"><button class="btn btn-info" data-value="subscribe">Subscribe</button></a>').fadeIn(500);
			}
			else{
				if(obj.follower){
					for(var i=0;i<obj.follower.length;i++){
					if($("#cur_username").val() == obj.follower[i].user){
						$("#sub_unsub_div").html('<a href="#" id="sub_unsub_btn" data-user="'+$("#my_username").val()+'"><button class="btn btn-danger" data-value="unsubscribe">Unsubscribe</button></a>').fadeIn(500);
						flag=1;
						return;
					}
					else{
						flag=0;
					}
				}	
				}
				else{
					$("#sub_unsub_div").html('<a href="#" id="sub_unsub_btn" data-user="'+$("#my_username").val()+'"><button class="btn btn-info" data-value="subscribe">Subscribe</button></a>').fadeIn(500);
				}
				
			}
			if(flag==0){
				$("#sub_unsub_div").html('<a href="#" id="sub_unsub_btn" data-user="'+$("#my_username").val()+'"><button class="btn btn-info" data-value="subscribe">Subscribe</button></a>').fadeIn(500);
			}
		});		
		
		
</script>
</body>
</html>
