{% include "layouts/header.html" %}
{% include "layouts/user_navbar.html" %}
<body style="overflow-y: scroll;">
<div class="container user_dash">
	<div class="span3">
		<input id="my_username" type="hidden" value="{{ session['username'] }}" />
		<div id="dashboard_info"></div>
	</div>
		<div class="well span8" style="background-color: #fff;"><h4 style="margin-top: -5px;">Crackers</h4><center><img id="loader" style="position: absolute;" src="./static/img/loader.gif"/></center>
		<div class="btn-group pull-right" style="margin-top: -36px;">
  <button class="btn" title="Home" href="./"><i class="icon-home"></i></a></button>
  <button class="btn" title="Crack a joke!" href="./crack"><i class="icon-bullhorn"></i></button>
</div>
		<hr style="margin-top: 0px;">
		<table class="table table-hover" id="crackers_div" style="margin-top: -10px;"></table><center><img id="loader2" style="position: absolute;display: none;" src="./static/img/loader.gif"/></center><center><span class="alert alert-info span7" style="display: none;" id="no_results">No more jokes to load...</span></center>
		<div id="complete_joke"></div></div>
</div>
{% include "layouts/footer.html" %}
<script src="./static/js/timeago.js"></script>
<script src="./static/js/timeago.js"></script>
<script>
	var my_id="";
	$.post("/my_info", function(data){
		var obj=$.parseJSON(data);
		$("body").css("background-color",obj.bg_color);
		var username, follower, following;
		if(obj.follower)
			follower=obj.follower.length;
		else
			follower=0
		if(obj.following)
			following=obj.following.length;
		else
			following=0;
		$("#dashboard_info").html("<center><img style='width: 180px; height: 180px;'src='http://gravatar.com/avatar/"+obj.email_hash+"?size=180' alt='"+obj.name+"' class='thumbnail'></img><hr><h5><a href='/profile'>"+obj.name+"</a> (<a href='/"+obj.username+"'>@"+obj.username+"</a>)</h5><p><a href='/subscribers' title='People who has subscribed me!'>Subscribers: "+follower+"</a></p><p><a href='/subscriptions' title='People whom I have subscribed to!'>Subscriptions: "+following+"</a></p><p><a href='/jokes'>Jokes: "+obj.jokes+"</a></p></center>").show();
	});
	
	$.post("/subscribed_jokes", function(data){
		var obj=$.parseJSON(data);
		if(obj.status=="error"){
			$("#crackers_div").append("<center><h4>No Jokes to load!</h4></center>").hide().fadeIn(200);
			$("#loader").fadeOut(200);
			return;
		}
		$("#crackers_div").html("");
		for(var i in obj){
			var tags="";
			var href_attr;
			for(var j in obj[i].values.tags){
				if(j==0){
					href_attr=obj[i].values.tags[j].replace(/ /g,"+");
				}
				else{
					href_attr=obj[i].values.tags[j].replace(/ /g,"+");
				}
				tags=tags+"<a href='./tags/"+href_attr+"'>"+obj[i].values.tags[j]+"</a>, ";
			}
			$("#crackers_div").append("<tr><td style='border-top: none; border-bottom: 1px solid #eee;'><a href='/"+obj[i].values.username+"'><img style='width: 50px;height: 50px;display: inline-block;' src='"+obj[i].values.avatar+"' class='thumbnail' style='display: inline-block;'></img></a>&nbsp;&nbsp;<a href='#' class='joke_title' id='"+obj[i]._id+"' style='margin-top: 2px;position: absolute'>"+obj[i].values.title+"</a><span class='pull-right'><span id='timeago' title='"+obj[i].values.date+"' class='date_time_block'></span></span><br><span class='pull-right' style='padding-right: 125px;width: 430px;padding-left: 70px;margin-top: -30px;color: #666; font-style: italic;'>"+obj[i].values.desc.replace(/(<([^>]+)>)/ig," ").substring(0,100)+"...</span><div class='help-block' style='font-size: 12px;color: #777;margin-left: 70px;'><span>tags: "+tags.substring(0,tags.length-2)+"</span></div></p></tr>")
		}
		my_id=obj[obj.length-1]._id;
		$(".date_time_block").timeago();
		$("#crackers_div").append("<tr></tr>").hide().fadeIn(500);
		$("#loader").fadeOut(200);
	});
	
	var load_flag=true;
	$(window).scroll(function () {
		
    if ($(window).scrollTop() >= $(document).height() - $(window).height() && load_flag) {
    		$("#loader2").show();
        load_flag = false;
        // other stuff
        $.post("/more_jokes", {oid: my_id},
    	function(data){
    		var obj=$.parseJSON(data);
    		for(var i in obj){
			var tags="";
			var href_attr;
			for(var j in obj[i].values.tags){
				if(j==0){
					href_attr=obj[i].values.tags[j].replace(/ /g,"+");
				}
				else{
					href_attr=obj[i].values.tags[j].replace(/ /g,"+");
					href_attr=href_attr.substring(1,href_attr.length)
				}
				tags=tags+"<a href='./tags/"+href_attr+"'>"+obj[i].values.tags[j]+"</a>, ";
			}
			$("#crackers_div").append("<tr><td style='border-top: none; border-bottom: 1px solid #eee;'><a href='/"+obj[i].values.username+"'><img style='width: 50px;height: 50px;display: inline-block;' src='"+obj[i].values.avatar+"' class='thumbnail' style='display: inline-block;'></img></a>&nbsp;&nbsp;<a href='#' class='joke_title' id='"+obj[i]._id+"' style='margin-top: 2px;position: absolute'>"+obj[i].values.title+"</a><br><span class='pull-right' style='padding-right: 125px;width: 430px;padding-left: 70px;margin-top: -30px;color: #666; font-style: italic;'>"+obj[i].values.desc.replace(/(<([^>]+)>)/ig," ").substring(0,100)+"...</span><div class='help-block' style='font-size: 12px;color: #777;margin-left: 70px;'><span>tags: "+tags.substring(0,tags.length-2)+"</span> &brvbar; <span id='timeago' title='"+obj[i].values.date+"' class='date_time_block'></span></div></p></tr>");
		}
			try{
				my_id=obj[obj.length-1]._id;
				load_flag=true;
			}
			catch(e){
				$("#no_results").hide().fadeIn(400);
				load_flag=false;
			}
    });
    }
    $("#loader2").fadeOut(200);
});
</script>
</body>
</html>
