{% include "layouts/header.html" %}
{% include "layouts/user_navbar.html" %}
<body>
<div class="container">
	<div class="span3 pull-right">
		<input id="my_username" type="hidden" value="{{ session['username'] }}" />
		<div id="dashboard_info"></div>
	</div>
		<div class="well span8" ></div>
</div>
{% include "layouts/footer.html" %}
<script>
	$.post("/my_info", function(data){
		var obj=$.parseJSON(data);
		$("#dashboard_info").html("<center><img src='http://gravatar.com/avatar/"+obj.email_hash+"?size=180' class='thumbnail'></img><hr><h5><a href='/profile'>"+obj.name+"</a> (<a href='/"+obj.username+"'>@"+obj.username+"</a>)</h5><p><a href='#'>Subscribers: "+obj.follower.length+"</a></p><p><a href=''>Subscriptions: "+obj.following.length+"</a></p></center>").show();
	});
</script>
</body>
</html>
