{% include "layouts/header.html" %}
{% include "layouts/user_navbar.html" %}
<body>
<div class="container">
	<div class="span3">
		<input id="my_username" type="hidden" value="{{ session['username'] }}" />
		<div id="dashboard_info"></div>
	</div>
		<div class="well span8" style="background-color: #fff;"><h4 style="margin-top: -5px;">Crackers</h4><a class="pull-right" href="/crack" style="margin-top: -30px;">Crack a joke &raquo;</a><hr style="margin-top: 0px;"><center><img id="loader" src="./static/img/loader.gif" /></center><table class="table table-hover" id="crackers_div" style="margin-top: -10px;"></table><div id="complete_joke"></div></div>
</div>
{% include "layouts/footer.html" %}
<script src="./static/js/timeago.js"></script>
<script src="./static/js/timeago.js"></script>
<script>
	$.post("/my_info", function(data){
		var obj=$.parseJSON(data);
		var username, follower, following;
		if(obj.follower)
			follower=obj.follower.length;
		else
			follower=0
		if(obj.following)
			following=obj.following.length;
		else
			following=0;
		$("#dashboard_info").html("<center><img style='width: 180px; height: 180px;'src='http://gravatar.com/avatar/"+obj.email_hash+"?size=180' alt='"+obj.name+"' class='thumbnail'></img><hr><h5><a href='/profile'>"+obj.name+"</a> (<a href='/"+obj.username+"'>@"+obj.username+"</a>)</h5><p><a href='/subscribers'>Subscribers: "+follower+"</a></p><p><a href='/subscriptions'>Subscriptions: "+following+"</a></p><p><a href='/jokes'>Jokes: "+obj.jokes+"</a></p></center>").show();
	});
	
	$.post("/subscribed_jokes", function(data){
		var obj=$.parseJSON(data);
		$("#crackers_div").html("");
		for(var i in obj){
			var tags="";
			var href_attr;
			for(var j in obj[i].values.tags){
				if(j==0){
					href_attr=obj[i].values.tags[j].replace(/ /g,"+");
				}
				else{
					href_attr=obj[i].values.tags[j].replace(/ /g,"+");
					href_attr=href_attr.substring(1,href_attr.length)
				}
				tags=tags+"<a href='./tags/"+href_attr+"'>"+obj[i].values.tags[j]+"</a>, ";
			}
			$("#crackers_div").append("<tr><td style='border-top: none; border-bottom: 1px solid #eee;'><a href='/"+obj[i].values.username+"'><img style='width: 50px;height: 50px;display: inline-block;' src='"+obj[i].values.avatar+"' class='thumbnail' style='display: inline-block;'></img></a>&nbsp;&nbsp;<a href='#' class='joke_title' id='"+obj[i]._id+"' style='margin-top: 2px;position: absolute'>"+obj[i].values.title+"</a><br><span class='pull-right' style='padding-right: 125px;width: 430px;padding-left: 70px;margin-top: -30px;color: #666; font-style: italic;'>"+obj[i].values.desc.replace(/(<([^>]+)>)/ig," ").substring(0,100)+"...</span><div class='help-block' style='font-size: 12px;color: #777;margin-left: 70px;'><span>tags: "+tags.substring(0,tags.length-2)+"</span> &brvbar; <span id='timeago' title='"+obj[i].values.date+"' class='date_time_block'></span></div></p></tr>")
		}
		$(".date_time_block").timeago();
		$("#crackers_div").append("<tr></tr>").hide().fadeIn(500);
		$("#loader").fadeOut(200);
	});
	
	$(".joke_title").live("click", function(){
		$("#loader").show();	
		var id=$(this).attr("id");
		$("table#crackers_div").fadeOut(200);
		$.post("/complete_joke", {oid: id},
		function(data){
			var obj=$.parseJSON(data);
			var tags="";
			var href_attr;
			for(var j in obj.tags){
				if(j==0){
					href_attr=obj.tags[j].replace(/ /g,"+");
				}
				else{
					href_attr=obj.tags[j].replace(/ /g,"+");
					href_attr=href_attr.substring(1,href_attr.length)
				}
				tags=tags+"<a href='./tags/"+href_attr+"'>"+obj.tags[j]+"</a>, ";
			}
			$("div#complete_joke").html("<div id='single_joke'><p><strong>"+obj.title+"<small> - <a href='./"+obj.username+"'>"+obj.username+" </a></small><br></strong><small>tags: "+tags.substring(0,tags.length-2)+" <span class='date_time_block'>&brvbar;</span> <span class='date_time_block' title="+obj.date+"></span></small><hr></p><p id='my_desc'>"+obj.desc+"</p></div>").hide();
			$("#single_joke").children().removeAttr("style");
			$("#my_desc").children().removeAttr("style");
			$(".date_time_block").timeago();
			$("div#complete_joke").fadeIn(300);
		});
		$("#loader").fadeOut(200);
	});
</script>
</body>
</html>
