<div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="#">Crackpot</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li class="active"><a href="#">Home</a></li>
              <li><a href="#about">About</a></li>
              <li><a href="#contact">Contact</a></li>
            </ul>
             <div class="nav pull-right">
             	<a href="/login"><button class="btn btn-success" style="font-size: 13px;">Login</button></a> &nbsp; <a href="/signup" style="font-size: 11px;color: #888;">New Account?</a>
             </div>
          </div><!--/.nav-collapse -->
        </div>
</div>
